---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Route">   
    <h2 class="non_print">Aikikai 6e kyu</h2>

    <h3>Tachi waza - staande technieken</h3>

    <dl class="examen_eisen">
        <dt>aihanmi katatedori</dt>
        <dd>
            <ul>
                <li>irimi nage</li>
                <li>kote gaeshi</li>
                <li>ikkyo</li>
                <li>shihonage</li>
                <li>uchi kaiten nage</li>
                <li>sankyo</li>
            </ul>
        </dd>
    </dl>

    <p class="clear_left">De technieken dienen in <strong>omote waza</strong> en <strong>ura waza</strong> te worden uitgevoerd.</p>

    <table cellspacing="0">
            <tr>
                    <td><strong>ukemi waza</strong></td>
                    <td>valbreken</td>
            </tr>
            <tr>
                    <td><strong>shikko</strong></td>
                    <td>verplaatsen op knie&euml;n</td>
            </tr>
            <tr>
                    <td><strong>tai sabaki</strong></td>
                    <td>draaiend wegstappen</td>
            </tr>
            <tr>
                    <td><strong>so tai dosa</strong></td>
                    <td> bevrijden van de aanval katatedori door hand- en polsdraaien</td>
            </tr>
    </table>


    <p class="clear_left">Dojo etiquette</p>
</Layout>

<style>

</style>


