---
import Layout from "@/layouts/Layout.astro";
import ExamsKyuList from "@/components/ExamsKyuList.astro";
---

<Layout title="Examen eisen">
    <h2 class="non_print">Kyu- en Dan-examens Aikikai-stijl</h2>

    <p>
        <a href="/img/leerlingen_suwariwaza_big.jpg" title="Suwari waza" class="fancyBoxPhoto" rel="mediaPhotos">
            <img class="left" src="/img/leerlingen_suwariwaza.jpg" alt="Suwari waza" />
        </a>
    </p>

    <p class="inleiding">
        De technische eisen voor de kyu-examens en de dan-examens in de aikikai-stijl zijn in overeenstemming met het boek van <strong>
            Nobuyoshi Tamura
        </strong>,
        <em>L'aikido, méthode nationale</em> (Aikido, de nationale methode).
    </p>

    <h3>Kyu examen eisen</h3>

    <ExamsKyuList />

    <h3>Dan examen eisen</h3>
    <ul>
        <li><a href="/exameneisen/1_dan">Aikikai 1e dan</a></li>
    </ul>
</Layout>

<style></style>
