---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Pagina niet gevonden">
    <h2>Pagina niet gevonden</h2>
                
    <p class="inleiding">Error 404, page not found</p>

    <p>De pagina die u opvraagd bestaat (mogelijk) niet meer.</p>
</Layout>

<style>

</style>