---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Achtergrond">
    <h2>Aikido achtergrond</h2>
    <p class="inleiding">
        Aikido is een bewegingsvorm die het uiterlijk heeft van een zelfverdedigingsvorm. En net zoals bij elke vorm van zelfverdediging is er sprake
        van een aanvaller en een verdediger, die respectievelijk op zijn Japans uke en tori worden genoemd. Tori neutraliseert de aanval van uke, die
        op allerlei manieren kan worden uitgevoerd (vastpakken, klemmen, wurgen, slaan, stoten, schoppen, met en zonder wapens), en doet dat zodanig
        dat uke ofwel wordt weggeworpen, ofwel wordt gemobiliseerd (vastgezet) in een klem of controle.
    </p>

    <p>
        Nu is het bijzondere van aikido dat tori geen wedstrijd of competitie met uke aangaat. Het aspect van winnen en verliezen, beter of slechter
        zijn dan de ander, speelt geen rol in het aikido. Integendeel, je zou kunnen zeggen dat aikido draait om samenwerking tussen uke en tori. Uke
        valt zo goed mogelijk aan om tori zich optimaal te kunnen laten verdedigen, en tori verdedigt zich zo goed mogelijk om uke optimaal te kunnen
        laten aanvallen. De beste oefening ontstaat door de beste samenwerking. Aikido heeft daarom vóór op vele sporten en andere vormen van
        recreatie dat de ander niet wordt gezien als opponent, die je moet proberen te verslaan of te slim af te zijn, maar als partner die je nodig
        hebt om te kunnen trainen, om jezelf en de ander te kunnen ontwikkelen. Het eerste is reactief, het tweede is streven naar verbinding.
    </p>

    <a href="/img/arm_klem_big.jpg" title="Arm klem" class="fancyBoxPhoto" rel="mediaPhotos">
        <img class="left" src="/img/arm_klem.jpg" alt="Techniek met arm klem" />
    </a>

    <p>
        Nu is aikido bewegingstechnisch gezien een complex gebeuren, waarbij alleen vele jaren van training en ervaring ervoor kunnen zorgen dat je
        intuïtief en vrij kunt bewegen. Er zijn vele aanvallen mogelijk, en er zijn vele verdedigingen op elke aanval mogelijk. Al met al gaat het om
        duizenden combinaties van aanval en verdediging. Tevens zal duidelijk zijn dat bij twee gevorderde aikidoka de samenwerking anders vorm krijgt
        dan wanneer een gevorderde en een beginnende aikidoka met elkaar trainen, of wanneer twee beginnende aikidoka met elkaar trainen.
    </p>

    <p>
        Je zou oppervlakkig aikido kunnen zien als een <em>verdedigingsvorm</em> waarvan de beoefening weinig praktische waarde heeft. Gezien de <strong
        >
            "vriendelijke"
        </strong> manier waarop tori met uke omgaat zal aikido in een realistische gevaarlijke situatie niet zoveel praktisch nut blijken te hebben. Je
        kunt nu eenmaal je agressieve aanvaller op straat niet vragen om een bepaalde aanval uit te voeren, waarop je toevallig een geschikte verdediging
        kent, die dan ook nog is gebaseerd op de afspraak dat je zult samenwerken. De aanvaller is in de praktijk uitsluitend op het toebrengen van letsel
        of uitschakeling van de ander uit! Hooguit zal de aikidobeoefening je helpen om je kalmte enigszins te bewaren, om een aanval te ontwijken, en
        om te vallen zonder blessure.
    </p>

    <p>
        Nee, de werkelijke praktische waarde moet helemaal niet in de praktische zelfverdediging worden gezocht. De zelfverdedigingstechnieken in het
        aikido zijn in feite alleen een aanleiding om in contact te komen met andere mensen, en kunnen als zodanig als een metafoor voor het
        dagelijkse leven worden beschouwd.
    </p>

    <a href="/img/jong_en_oud_big.jpg" title="Jongeren" class="fancyBoxPhoto" rel="mediaPhotos">
        <img class="left" src="/img/jong_en_oud.jpg" alt="Jong en oud" />
    </a>

    <p>
        Het dagelijkse leven is natuurlijk geen voortdurende strijd, maar daagt ons wel steeds uit om zo goed mogelijk om te gaan met anderen. Aikido
        kan daarbij, als je deze dimensie kunt zien, een bron van kennis zijn om inzicht in onze eigen houding en gedrag en die van anderen te
        vergaren. Aikido slecht in één keer de barriére die er in ons dagelijks leven is op de aanraking van de ander. Aikido vereist juist contact
        met de ander, heel direct. Dit contact kan vanuit een zelfverdedigingscontext bedreigend zijn, maar is vanuit een samenwerkingsperspectief een
        zeer directe link om af te kunnen "tasten" hoe je zelf, en hoe de ander in zijn of haar vel zit:
    </p>

    <ul>
        <li>Voel je zelf, of voelt de ander gespannen of juist ontspannen aan?</li>
        <li>Werk je zelf, of werkt de ander tegen of juist mee?</li>
        <li>Ben je zelf, of is de ander in balans of juist uit evenwicht?</li>
        <li>Hoe is de positie en de afstand van de ander ten opzichte van jou?</li>
        <li>Hoe behandelt de ander jou, en omgekeerd?</li>
        <li>Heeft de ander vertrouwen in jou of niet?</li>
    </ul>

    <p>
        Ervan uitgaand dat de innerlijke houding zich vertaalt in de bovengenoemde fysiek waar te nemen aspecten, dan zegt de manier waarop je de
        samenwerking met anderen in aikido ervaart en vormgeeft het nodige over de innerlijke houding van jezelf en de ander. En daarin ligt dan ook
        direct de mogelijkheid voor je zelf en de ander tot ontwikkeling, via de zelfverdedigingvormen van het aikido.
    </p>
</Layout>

<style></style>
