---
import Layout from '@/layouts/Layout.astro';
import Books from '@/components/Books.astro';
---

<Layout title="Bibliotheek">
    <h2>Bibliotheek</h2>

    <p class="inleiding">
        Hieronder volgt een lijst van boeken met betrekking tot Aikido/Aikikai. Indien u een boek wilt inzien, kunt u <a href="/contact" title="Contact opnemen">contact</a> opnemen. 
        Vermeld de auteur en de titel van het boek.
    </p>

    <div id="booklist">
        <h2>Boeken</h2>
        
        <Books />
    </div>
</Layout>

<style>

</style>