---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Disclaimer">
    <h2>Disclaimer</h2>

    <p class="inleiding">
        Gouda Aikikai aanvaardt geen aansprakelijkheid voor onjuistheden die mogelijk in de gegeven
        informatie voorkomen. Aan de informatie kunnen geen rechten worden ontleend. 
    </p>	
    <p>	
        Gouda Aikikai behoudt alle rechten (waaronder auteursrechten) met betrekking tot op deze website 
        gepresenteerde informatie (waaronder <strong>teksten</strong>, <strong>grafisch materiaal</strong> 
        en <strong>logo's</strong>). 
    </p>	
    <p>
        Behalve het downloaden en printen van de geboden informatie voor eigen persoonlijk gebruik, is het niet 
        toegestaan om de inhoud van deze website, zonder uitdrukkelijke schriftelijke toestemming 
        van Gouda Aikikai, <strong>over te nemen</strong>, te <strong>vermenigvuldigen</strong> of op 
        welke wijze dan ook te <strong>distribueren</strong> 
        of openbaar te maken.
    </p>

    <p class="date">&copy; Gouda Aikikai, januari 2005</p>
</Layout>

<style>

</style>


