---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Foto albums">
    <h2>Foto album(s)</h2>

    <p class="inleiding">
        Op deze pagina vind u diverse foto albums over aikido/aikikai stages, examens, trainingen en de jaarlijkse barbecues.
    </p>

    <ul>
        <!-- BEGIN FOTOLIST -->
            <li><a href="/foto-album/[seodate]/[seoname]/nr[id]" title="[date]">[header]</a></li>
        <!-- END FOTOLIST -->
    </ul>
</Layout>

<style>

</style>