---
import Layout from "@/layouts/Layout.astro";
import Guestbook from "@/components/Guestbook.astro";
---

<Layout title="Gastenboek">
    <h2>Gastenboek</h2>

    <p class="inleiding">
        Hieronder kunt u het gastenboek tekenen. Onderaan deze pagina kunt u de huidige bericht zien. Onderaan deze pagina kunt u blader in de huidige
        berichten.
    </p>

    <h2>Huidige berichten</h2>

    <Guestbook />
</Layout>

<style></style>
