---
import Layout from "@/layouts/Layout.astro";
import NewSite from "@/components/NewSite.astro";
---

<Layout title="Gouda Aikikai">
    <NewSite />

    <h2>Gouda Aikikai</h2>

    <p class="inleiding">
        Op aikidoschool Gouda Aikikai wordt traditioneel aikido onderwezen onder leiding van Bart Wilffert (4 DAN Aikikai &amp; 3e DAN Kyudo).
    </p>

    <h2>Video's</h2>

    <p>
        Er is een nieuwe '<a href="/video">Video</a>' pagina bij gekomen waarop een aantal filmpjes staan, van gast leraar <strong>Wilko Lok</strong> (<a
            href="http://hikari.nl"
            target="_blank"
        >
            Hikari
        </a>), begin februari 2011 in onze dojo te Gouda.
    </p>

    <h2>Lessen</h2>
    <a href="/img/hans_mertens.jpg" class="fancyBoxPhoto" rel="mediaPhotos" title="Leerling met Hans Mertens">
        <img class="left" src="/img/hans_mertens.jpg" title="Les van de docent" alt="Tijdens een les" />
    </a>
    <p>
        De lessen van Gouda Aikikai zijn op <strong>elke woensdagavond van 20.00 - 21.30 uur</strong>. Een <strong>gratis</strong> proefles is mogelijk.
        Het adres staat onderaan de pagina vermeld.
    </p>

    <p>Neem vooraf contact op Bart Wilffert <br /><strong>tel. 06 - 462 067 53</strong>, of vul het <a href="/contact">contact formulier</a> in.</p>

    <h2>Aikido in het kort</h2>
    <a href="/img/ueshiba_sensei_big.jpg" class="fancyBoxPhoto" rel="mediaPhotos" title="Morihei Ueshiba">
        <img class="left" src="/img/ueshiba_sensei.jpg" title="Morihei Ueshiba" alt="Stichter Morihei Ueshiba" />
    </a>
    <p>
        Aikido is een Japanse zelfverdedigingskunst die is ontwikkeld door <strong>Morihei Ueshiba</strong>
        <em>(1883-1969)</em>, en in de tweede helft van de 20e eeuw buiten Japan populair is geworden.
    </p>

    <p>
        In aikido vind je werp- en controletechnieken zoals bekend uit het judo, slagen en stoten zoals in het karate, maar ook bewegingsvormen die
        afkomstig zijn uit de zwaardtechnieken. Er wordt veel met de blote hand getraind, en daarnaast wordt ook met <strong>tanto</strong>
        <em>(oefenmes)</em>, <strong>jo</strong>
        <em>(stok)</em> of
        <strong>bokken</strong>
        <em>(oefenzwaard)</em> gewerkt.
    </p>

    <p>In de les trainen mannen en vrouwen, oud en jong, van verschillende niveaus met elkaar.</p>

    <p>
        Tijdens de training in aikido worden voortdurend aanval en verdediging geoefend, maar nooit in de vorm van een wedstrijd. Een ieder bekwaamt
        zich aan de hand van de oefening, maar hoeft zich niet te meten met anderen. De soepelheid van het lichaam wordt ontwikkeld. Een zware
        conditietraining of veel spierkracht is niet nodig.
    </p>

    <p>Bij aikido wordt een judopak gedragen, waarbij gevorderden ook een <strong>hakama</strong> <em>(traditionele broekrok)</em> dragen.</p>

    <p>
        Voor meer achtergrond over de beoefening van aikido klik je hiernaast op <a href="/aikido-achtergrond" title="Achtergrond informatie">
            Aikido achtergrond
        </a>.
    </p>

    <h3>Toine Rooimans, wapenstage, woensdagavond 1 juli 2009</h3>
    <p>
        <a href="/img/jo_dori.jpg" class="fancyBoxPhoto" rel="mediaPhotos" title="Toine Rooimans, wapenstage, woensdagavond 1 juli 2009">
            <img src="/img/jo_dori.jpg" alt="Leerlingen krijgen les van Toine Rooimans" />
        </a>
    </p>

    <h3>Gouda Aikikai, district stage, zondagochtend 12 december 2004</h3>

    <p class="normal">
        <a href="/img/gouda_stage_01_big.jpg" class="fancyBoxPhoto" rel="mediaPhotos" title="Gouda Aikikai stage: Zondag 12 december 2004">
            <img src="/img/gouda_stage_01.jpg" title="Gouda Aikikai stage: Zondag 12 december 2004" alt="Gouda stage" />
        </a>
    </p>
</Layout>

<style></style>
