---
import Layout from '@/layouts/Layout.astro';
import news from '@/content/lists/news.json';
---

<Layout title="Foto albums">
    <h2>Nieuws overzicht</h2>

    <dl>
    {
        news.map(({header, message, date_start}) => (
                <dt>{header}</dt>

                <dd>
                    {message}
                    <div><time datetime={date_start} class="date">{date_start}</time></div>
                </dd>   
            ))
        }
    </dl>
</Layout>

<style>

</style>