---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Route">
    <h2>Adres dojo</h2>
    
    <p class="inleiding">Middenmolenlaan 68, Gouda</p>
    
    <h2>Openbaar vervoer</h2>
    
    <ul>
        <li>Op NS-station Gouda Goverwelle komt om 19.14 uur een trein vanuit Utrecht/Woerden aan.</li>
        <li>Op NS-station Gouda Goverwelle komt om 19.16 uur een trein vanuit Gouda aan.</li>
    </ul>
    
    <p>Vanaf het station ca. 10 minuten lopen.</p>
    
    <h2>Plattegrond</h2>
    
    <div id="googleMaps" class="non_print"></div>
</Layout>

<style>

</style>


