---
import Layout from "@/layouts/Layout.astro";
import Stages from "@/components/Stages.astro";
---

<Layout title="Stages">
    <h2>Stages overzicht</h2>

    <p>
        <a href="/img/wapenstage_big.jpg" title="Wapenstage" class="fancyBoxPhoto" rel="mediaPhotos">
            <img class="left" src="/img/wapenstage.jpg" title="Wapenstage" />
        </a>
    </p>

    <p class="inleiding">
        Overzicht van actuele Aikido/Aikibudo/Ki-aikido stages. Stagegegevens kunnen wijzigen. Raadpleeg daarom andere informatiebronnen voor
        bevestiging van de juistheid van de gegevens. Deelname aan de stages wordt aanbevolen voor aikidoka met minimaal 1 - 2 jaar ervaring.
    </p>

    <Stages />
</Layout>

<style></style>
