---
import Layout from '@/layouts/Layout.astro';
import YouTubeVideos from '@/components/YouTubeVideos.astro';
---

<Layout title="Video">
    <h2>Video's</h2>

    <h3>Wilko Lok (<a href="https://www.hikari.nl/" target="_blank">Hikari</a>) bij een gast les begin februari 2011 in onze dojo te Gouda</h3>

    <YouTubeVideos />

    <p>Filmpjes opgenomen door Frank van Waart.</p>

    <h3>Dennis en Frank: Tachi waza ushiro waza ryote dori shihonage</h3>

    <video width="640" height="480" controls loop>
        <source src="/video/ushirowaza_ryotedori_shihonage.mp4" type="video/mp4"></video>
    </video>

    <p>Filmpje opgenomen door Hans Mertens.</p>

</Layout>

<style>

</style>
