---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Video">
    <h2>Video's</h2>

    <h3>Wilko Lok (<a href="http://hikari.nl" target="_blank">Hikari</a>) bij een gast les begin februari 2011 in onze dojo te Gouda</h3>

    <ul>
        <li><a href="http://www.youtube.com/watch?v=874mbwIh4Qs" class="fancyBoxYoutube">Suwari waza shikko (vooruit)</a></li>
        <li><a href="http://www.youtube.com/watch?v=cN8pLpcj6Y0" class="fancyBoxYoutube">Suwari waza shikko (achteruit)</a></li>
        <li><a href="http://www.youtube.com/watch?v=-q5bsXhSn2c" class="fancyBoxYoutube">Tachi waza mae ukemi (draaien)</a></li>
        <li><a href="http://www.youtube.com/watch?v=agOB-c3lDaQ" class="fancyBoxYoutube">Het typische rolletje</a></li>
        <li><a href="http://www.youtube.com/watch?v=jBrLTT1GCSY" class="fancyBoxYoutube">Het typische rolletje &amp; Ushiro ukemi</a></li>
        <li><a href="http://www.youtube.com/watch?v=O7Wn0JiKVX0" class="fancyBoxYoutube">Suwari waza &amp; en het typische rolletje</a></li>
        <li><a href="http://www.youtube.com/watch?v=9L1uV0dhwKM" class="fancyBoxYoutube">Draai, pak en werp beweging - uitleg</a></li>
        <li><a href="http://www.youtube.com/watch?v=N5CgBQHSLzE" class="fancyBoxYoutube">Draai, pak en werp beweging - uitleg</a></li>
        <li><a href="http://www.youtube.com/watch?v=EKztaLGlgLQ" class="fancyBoxYoutube">Draai, pak en werp beweging - vervolg</a></li>
        <li><a href="http://www.youtube.com/watch?v=VUDoTuSAbD0" class="fancyBoxYoutube">Tachi waza katatedori kote gaeshi - alternatieve vorm</a></li>
        <li><a href="http://www.youtube.com/watch?v=zX9hiAfrSWI" class="fancyBoxYoutube">Tachi waza katatedori kote gaeshi - alternatieve vorm</a></li>
        <li><a href="http://www.youtube.com/watch?v=zpQ53OpvBJo" class="fancyBoxYoutube">Hanmi handachi waza ushiro waza ryo kata dori kokyu nage - uitleg</a></li>
        <li><a href="http://www.youtube.com/watch?v=o5W6PQ8WCN8" class="fancyBoxYoutube">Hanmi handachi waza ushiro waza ryo kata dori kokyu nage - groep</a></li>
        <li><a href="http://www.youtube.com/watch?v=pRIcxyRaAwU" class="fancyBoxYoutube">Hanmi handachi waza ushiro waza katate dori ikyo - uitleg</a></li>
        <li><a href="http://www.youtube.com/watch?v=Qf61JBWVt6k" class="fancyBoxYoutube">Hanmi handachi waza ushiro waza katate dori ikyo - vervolg</a></li>
        <li><a href="http://www.youtube.com/watch?v=lfddj_--RKM" class="fancyBoxYoutube">Hanmi handachi waza ushiro waza katate dori ikyo - vervolg</a></li>
    </ul>

    <p>
        Filmpjes opgenomen door Frank van Waart.
    </p>

    <h3>Dennis en Frank: Tachi waza ushiro waza ryote dori shihonage</h3>

    <video width="640" height="480" controls loop>
        <source src="/video/ushirowaza_ryotedori_shihonage.mp4" type="video/mp4"></video>
    </video>

    <p>
        Filmpje opgenomen door Hans Mertens.
    </p>

</Layout>

<style>

</style>
