---
import { getCollection } from 'astro:content';
import { nlDate } from "@/helpers/nl-date.js";

const guestbookData = await getCollection('guestbook');
---

<div id="messagelist">
    <dl>
        {
            guestbookData.map(({ data: {name, message, date}}) => (
                <dt>{name}</dt>

                <dd>
                    <blockquote>
                        <p>{message}</p>
                    </blockquote>
                    
                    <p class="date">{nlDate(date)}</p>
                </dd>
            ))
        }
    </dl>
</div>