<div id="header">
    <h1 class="hide">Gouda Aikikai</h1>

    <a href="/" title="Terug naar de homepage"><img src="/img/gouda_aikikai.gif" alt="Gouda Aikikai" class="tagline" /></a>

    <img src="/img/aikido_logo.gif" alt="Aikido" class="logo" />

    <div id="slider" class="headercaroussel">
        <ul>
            <li><a href="/foto-albums/"><img src="/img/header_images/12.jpg" alt="Gouda Aikikai" /></a></li>
        </ul>
    </div>
</div>