<div class="newSite">
    <p>
        <a href="http://ishokan.org" target="_blank"><img src="/img/ishokan_logo.png" alt="Ishokan logo" /></a>
    </p>

    <p>
        Binnenkort wordt deze website verwijderd. <br />
        Onze nieuwe website wordt <a href="http://ishokan.org" target="_blank">Ishokan.org</a> onder leiding van Bart Wilffert.
    </p>
</div>
