---
import { getCollection } from 'astro:content';
import { nlDate } from "@/helpers/nl-date.js";

const newsData = await getCollection('news');
---

<dl>
{
    newsData.map(({ data: {header, message, date_start}}) => (
        <dt>{header}</dt>

        <dd>
            {message}
            <div><time datetime={date_start} class="date">{nlDate(date_start)}</time></div>
        </dd>   
    ))
}
</dl>