---
import { getCollection } from "astro:content";

const youtubeVideosData = await getCollection("youtubeVideos");
---

<ul>
    {
        youtubeVideosData.map(({ data: { title, url } }) => (
            <li>
                <a href={url} data-youtube-link>
                    {title}
                </a>
            </li>
        ))
    }
</ul>
