---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";

import { SITE_TITLE, AUTHOR } from '@/consts';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{SITE_TITLE} {title}</title>

		<meta name="generator" content={Astro.generator} />
		
		<meta name="author" content={AUTHOR} />

		<meta name="description" content="Gouda Aikikai, Middenmolenlaan 68, Gymzaal basisschool 't Palet te Gouda" />
		
		<meta name="keywords" content="aikikai,aikido,aikibudo,budo,gouda,bart,wilffert,palet,middenmolenlaan,stage,budo,sport,martial,art,verdediging,ki,japan,sensei,morihei,ueshiba,middenmolenlaan,basisschool,gymzaal,jbn, zuid-holland, zuid holland, holland, zuid" />

		<meta name="copyright" content="&copy; Gouda Aikikai 2010" />
		
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<link href="/css/screen.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body>

		<p class="hide non_print"><a href="#content">Skip navigation</a></p>

		<div id="mobileNav">
			<p>
				<a href="#nav">
					<span>Menu</span>
					<img src="/img/mobile-nav-arrow.gif" alt="Navigatie" />
				</a>
			</p>
		</div>
		
		<div id="main">			
			<Header />

			<div id="contentwrapper">
				<div id="content">

					<slot />

				</div>

				<div id="side">
					<Nav />
				</div>
			</div>

			<Footer />
		</div>
	</body>
</html>

<style is:global>

</style>
